services:
  - type: web
    name: prometheus
    runtime: docker
    region: singapore
    plan: free
    disk:
      name: prometheus-disk
      mountPath: /var/data
      sizeGB: 1
  - type: web
    plan: free
    runtime: image
    region: singapore
    name: n8n-service
    image:
      url: docker.io/n8nio/n8n:latest
    envVars:
      - key: WEBHOOK_URL
        value: https://n8n-service-69w2.onrender.com/
      - key: N8N_ENCRYPTION_KEY
        generateValue: true
      - key: DB_TYPE
        value: postgresdb
      - key: DB_POSTGRESDB_DATABASE
        fromDatabase:
          name: n8n-db
          property: database
      - key: DB_POSTGRESDB_HOST
        fromDatabase:
          name: n8n-db
          property: host
      - key: DB_POSTGRESDB_PASSWORD
        fromDatabase:
          name: n8n-db
          property: password
      - key: DB_POSTGRESDB_USER
        fromDatabase:
          name: n8n-db
          property: user

databases:
  - name: n8n-db
    plan: free
    region: singapore
